<div class="vertical-center-flex">
  <div class="forgot-pwd-container center-block" [ngSwitch]="state">
    <div class="panel panel-primary boxshadow" *ngSwitchCase="'forgot'">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-lock"></span> ЗАБЫЛИ ПАРОЛЬ?
      </div>
      <div class="panel-body">

        <div class="col-md-8 col-md-offset-2" style="padding: 0 0 10pt 0;">
          <p>
            Чтобы начать процесс сброса пароля для своей учетной записи,
            введите имя пользователя или адрес электронной почты и нажмите
            "Запросить сброс пароля"
          </p>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <form *ngIf="formResetToggle"
                class="form-horizontal forgot-pwd" name="resetPasswordForm" #f="ngForm" novalidate
                (ngSubmit)="f.form.valid ? requestPasswordReset() :
                          (!email.valid && showEmailAlert())">
            <div class="form-group has-feedback">
              <div class="col-md-10" [ngClass]="{'has-success': f.submitted && email.valid, 'has-error' : f.submitted && !email.valid}">
                <input type="text" id="login-email" name="email"
                       placeholder="{{'login.enterEmailOrUsername' | translate}}" class="form-control"
                       [(ngModel)]="userNameOrEmail" #email="ngModel" required />
                <span *ngIf="f.submitted" class="glyphicon form-control-feedback"
                      [ngClass]="{'glyphicon-ok ': email.valid, 'glyphicon-remove' : !email.valid}"
                      aria-hidden="true"></span>
                <span class="errorMessage" *ngIf="f.submitted && !email.valid">
                  {{'login.usernameOrEmailRequired' | translate}}
                </span>
              </div>
            </div>
            <div class="form-group" style="padding-top:10pt;">
              <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary" [disabled]="isLoading">
                  <i *ngIf="isLoading" class='fa fa-circle-o-notch fa-spin'></i>
                  {{(isLoading ? 'forgotPassword.requestingResetLink' : 'forgotPassword.requestResetLink') | translate}}
                </button>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <a [routerLink]="['/login']">Вход в систему</a><br />
              </div>
            </div>

            <!--<div *ngIf="!isModal" class="col-md-12">
              <hr class="separator-hr" />
          </div>

          <div *ngIf="!isModal" class="col-md-12 last-control-group">
              <span>Don't have an account?</span><a href="javascript:;" class="btn btn-link" (click)="signUp()">Sign Up</a>
          </div>-->
          </form>
        </div>
      </div>
    </div>


    <div class="panel panel-primary boxshadow" *ngSwitchCase="'request_error'">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-lock"></span> ОШИБКА ЗАПРОСА НОВОГО ПАРОЛЯ
      </div>
      <div class="panel-body">

        <div class="col-md-8 col-md-offset-2" style="padding: 0 0 10pt 0;">
          <p>
            При попытке начать сброс пароля произошла ошибка.
          </p>
          <p>
            Попробуйте <a [routerLink]="['/forgot-password', userNameOrEmail]">выполнить сброс пароля</a> через несколько минут.
            Если проблема сохраняется, обратитесь в
            <a href="mailto:psk-online@mail.ru">группу технической поддержки</a>.
          </p>
        </div>

        <div class="col-md-8 col-md-offset-2" style="padding: 0 0 10pt 0;">
          <a [routerLink]="['/login']">Вход в систему</a><br />
        </div>
      </div>
    </div>

    <div class="panel panel-primary boxshadow" *ngSwitchCase="'request_success'">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-lock"></span> ЗАПРОС ОТПРАВЛЕН
      </div>
      <div class="panel-body">

        <div class="col-md-8 col-md-offset-2" style="padding: 0 0 10pt 0;">
          <p>
            Если в системе зарегистрировано указанное имя пользователя или адрес электронной почты,
            то в течение нескольких минут вы получите по электронной почте сообщение со ссылкой,
            пользуясь которой вы сможете задать новый пароль к вашей учетной записи.
          </p>
          <h4>Если вы не получили письмо</h4>
          <ul>
            <li>проверьте папку нежелательных сообщений (спам)</li>
            <li>убедитесь, что вы указываете правильный email или имя пользвателя</li>
            <!--<li><a [routerLink]="['/forgot-password/', userNameOrEmail]">повторно запросите сброс пароля</a></li> -->
            <li>повторно запросите сброс пароля</li>
          </ul>
          <p>
            Если проблема сохраняется, обратитесь
            <a href="mailto:psk-online@mail.ru">в группу технической поддержки</a>.
          </p>
        </div>

        <div class="col-md-8 col-md-offset-2" style="padding: 0 0 10pt 0;">
          <a [routerLink]="['/login']">Вход в систему</a><br />
        </div>
      </div>
    </div>

  </div>
</div>
