<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PskOnline</title>
    <base href="~/admin/" />
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139903349-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-139903349-1');
</script>

</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
